.school-container {
  padding: 15px 22px;
  box-shadow: 0px 0px 28px #dddbdb;
  margin: 60px 0px 30px;
  border-radius: 12px;
  border: 1px solid #ddd;
}
.school-container .heading-blue {
  letter-spacing: -1px;
  color: #383876;
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
}
.school-container .basic-information .information-button {
  display: flex;
  color: #000;
  padding: 5px 0;
}
.school-container .basic-information .information-button a {
  margin: 0px 10px 0px 0px;
  padding: 9px 10px;
  border-radius: 6px;
  width: 180px;
}
.school-container .basic-information p {
  margin: 0;
  color: #ff0000;
}
.school-container .basic-information .sociol-icon {
  display: flex;
  justify-content: flex-start;
}
.school-container .basic-information .sociol-icon a {
  width: 35px;
  height: 35px;
  margin: 0px 10px 0 0px;
  border-radius: 100%;
  padding: 5px;
}
.school-container .basic-information .sociol-icon a img {
  width: 100%;
  height: 100%;
}
.school-container .basic-information .sociol-icon .facebook.f-icon {
  background: #1976d2;
}
.school-container .basic-information .sociol-icon .twitter.f-icon {
  background: #000;
}
.school-container .basic-information .sociol-icon .twitter.f-icon img {
  background-color: #fff;
}
.school-container .basic-information .sociol-icon .linkedin.f-icon {
  background: #0077b5;
}
.school-container .basic-information .information-title h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  margin-top: 5px;
}
.school-container .basic-information .information-title p {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #000;
}
.school-container .basic-information .information-title p span.information-span {
  font-weight: 400;
  font-size: 17px;
  color: #ff0000;
}
.school-container .basic-information .information-title p i {
  background: #fe631d;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
  padding: 3px;
  margin: 0 8px 0px 0px;
  font-size: 14px;
}
.school-container .basic-information img.icon-d {
  width: 20px !important;
  margin-right: 5px;
}
.school-container .basic-information .social_button {
  display: flex;
  align-items: center;
  justify-content: left;
}
.school-container .basic-information .information-title-container {
  align-items: center;
  padding: 0px 0 7px;
}
.school-container .basic-information .information-title-container .icon {
  padding: 15px;
  display: flex;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(269deg, rgba(142, 197, 252, 0.3411764706) 0%, rgba(224, 195, 252, 0.2901960784) 100%);
  border-radius: 5px;
}
.school-container .basic-information .information-title-container img {
  width: 150px;
}

.basic-information-profile {
  padding: 0px 0 30px;
}
.basic-information-profile .profile {
  align-items: center;
  margin: 0 0px;
  padding: 30px;
  box-shadow: 0px 0px 26px #dddada;
  border-radius: 13px;
  padding: 12px 30px;
  border: 1px solid #ddd;
}
.basic-information-profile .profile .col-md-3,
.basic-information-profile .profile .col-md-2,
.basic-information-profile .profile .col-md-4 {
  padding: 5px;
}
.basic-information-profile .profile-icon {
  padding: 3px;
  align-items: center;
  justify-content: start;
  display: flex;
}
.basic-information-profile .profile-icon .profile-text {
  background: #fff;
}
.basic-information-profile .profile-icon img {
  background: radial-gradient(circle 369px at -2.9% 12.9%, rgb(247, 234, 163) 0%, rgba(236, 180, 238, 0.56) 46.4%, rgb(163, 203, 247) 100.7%);
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 100%;
  margin-right: 2px;
}
.basic-information-profile .profile-text {
  background: rgba(227, 227, 227, 0.6);
  padding: 12px 10px;
  border-radius: 5px;
  text-align: center;
}
.basic-information-profile .profile-text h3 {
  color: #383876;
  font-size: 21px;
  margin-bottom: 2px;
}
.basic-information-profile .profile-text p {
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 15px;
}
.basic-information-profile .profile-text p .studentNumber {
  font-weight: 400;
  color: #ff0000;
}

.school-information .profile-text {
  background: rgba(227, 227, 227, 0.6);
  padding: 12px 10px;
  border-radius: 5px;
  text-align: center;
  min-height: 112px;
}
.school-information .profile-text p {
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 40px;
  color: #000;
}
.school-information .profile-text .studentNumber {
  font-weight: 600;
  color: #383876;
}
.school-information .col-20 {
  width: 20%;
  margin-bottom: 14px;
}

.Infrastructure .profile-text {
  display: flex;
  align-items: center;
}
.Infrastructure .profile-text .image-box {
  height: 80px;
  width: 80px;
  text-align: center;
  background: #fff;
  border-radius: 100%;
  display: flex;
  padding: 20px;
  margin-right: 12px;
}
.Infrastructure .profile-text .studentNumber {
  text-align: left;
}

.school-container.box-shadow-none {
  box-shadow: none;
  padding: 0;
  border: 0;
}

.profile-text.available {
  background: #cbebf6;
  position: relative;
}
.profile-text.available .text-available {
  position: absolute;
  top: 1px;
  right: 1px;
  color: #fff;
  font-size: 12px;
  background: #0f970f;
  padding: 2px 5px;
  border-radius: 5px;
}

.profile-text.unavailable {
  background: rgba(227, 227, 227, 0.6);
  position: relative;
  opacity: 0.6;
}
.profile-text.unavailable .text-unavailable {
  position: absolute;
  top: 1px;
  right: 1px;
  color: #fff;
  font-size: 12px;
  background: #f3372f;
  padding: 2px 5px;
  border-radius: 5px;
}

.school-info-text .school-information .profile-text {
  transition: all 0.3s ease-in-out;
}
.school-info-text .school-information .profile-text:hover {
  background: #cbebf6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.school-info-text .school-information .profile-text .studentNumber {
  font-weight: 500;
  color: #383876;
  font-size: 14px;
}

@media screen and (max-width: 1399px) {
  .basic-information-profile .profile-text {
    padding: 12px 5px;
  }
  .basic-information-profile .profile-text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .school-information .col-20 {
    width: 100%;
  }
  .school-container .basic-information .social_button {
    display: block;
  }
  .school-container .basic-information .information-button {
    margin: 10px 0px !important;
  }
  .basic-information-profile .profile {
    margin-top: 20px;
  }
  .school-container.school-info-text {
    padding: 10px;
  }
  .school-container .basic-information .information-button a {
    width: auto !important;
  }
}
.client-img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.client-img img {
  height: 75px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.print-icon-box span {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
}
.print-icon-box span:hover {
  background: #fff;
  color: #000;
}
.print-icon-box .print {
  background: #f3372f;
  color: #fff;
  border: 1px solid #f3372f;
  transition: all 0.3s ease-in-out;
}
.print-icon-box .download {
  background: #383876;
  color: #fff;
  border: 1px solid #383876;
}

.p-relative {
  position: relative;
}

.print-box-d {
  margin-top: 45px;
}

.print-icon-box {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.details-banner-image {
  margin-bottom: 20px;
}
.details-banner-image img {
  border-radius: 10px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.school_details_template {
  padding: 0px 40px !important;
}

.school_details_template .school-container {
  padding: 15px 0px !important;
}
.school_details_template .school-container .heading-blue {
  letter-spacing: 1px;
  font-family: "Roboto";
}
.school_details_template .basic-information-profile .profile {
  padding: 12px 0px;
}
.school_details_template .basic-information-profile .profile-text h3 {
  font-size: 18px !important;
}
.school_details_template .basic-information-profile .profile-text p {
  font-size: 12px !important;
}
.school_details_template .school-information .profile-text p {
  font-size: 14px !important;
}
.school_details_template .school-information .profile-text .studentNumber {
  font-size: 12px !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=basicInformation_old.css.map */